.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-h {
  display: flex;
  justify-content: center;
}
.center-v {
  display: flex;
  align-items: center;
}
.bg-red {
  background-color: red;
}
.border-red {
  border: 1px solid red;
}

// #region margin-top 0~20
.mt-0 {
  margin-top: 0px;
}
.mt-1 {
  margin-top: 1px;
}
.mt-2 {
  margin-top: 2px;
}
.mt-3 {
  margin-top: 3px;
}
.mt-4 {
  margin-top: 4px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-6 {
  margin-top: 6px;
}
.mt-7 {
  margin-top: 7px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-9 {
  margin-top: 9px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-11 {
  margin-top: 11px;
}
.mt-12 {
  margin-top: 12px;
}
.mt-13 {
  margin-top: 13px;
}
.mt-14 {
  margin-top: 14px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-17 {
  margin-top: 17px;
}
.mt-18 {
  margin-top: 18px;
}
.mt-19 {
  margin-top: 19px;
}
.mt-20 {
  margin-top: 20px;
}
// #endregion

// #region margin-left 0~20
.ml-0 {
  margin-left: 0px;
}
.ml-1 {
  margin-left: 1px;
}
.ml-2 {
  margin-left: 2px;
}
.ml-3 {
  margin-left: 3px;
}
.ml-4 {
  margin-left: 4px;
}
.ml-5 {
  margin-left: 5px;
}
.ml-6 {
  margin-left: 6px;
}
.ml-7 {
  margin-left: 7px;
}
.ml-8 {
  margin-left: 8px;
}
.ml-9 {
  margin-left: 9px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-11 {
  margin-left: 11px;
}
.ml-12 {
  margin-left: 12px;
}
.ml-13 {
  margin-left: 13px;
}
.ml-14 {
  margin-left: 14px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-16 {
  margin-left: 16px;
}
.ml-17 {
  margin-left: 17px;
}
.ml-18 {
  margin-left: 18px;
}
.ml-19 {
  margin-left: 19px;
}

.ml-20 {
  margin-left: 20px;
}
// #endregion

// #region margin-bottom 0~20
.mb-0 {
  margin-bottom: 0px;
}
.mb-1 {
  margin-bottom: 1px;
}
.mb-2 {
  margin-bottom: 2px;
}
.mb-3 {
  margin-bottom: 3px;
}
.mb-4 {
  margin-bottom: 4px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-6 {
  margin-bottom: 6px;
}
.mb-7 {
  margin-bottom: 7px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-9 {
  margin-bottom: 9px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-11 {
  margin-bottom: 11px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-13 {
  margin-bottom: 13px;
}
.mb-14 {
  margin-bottom: 14px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-17 {
  margin-bottom: 17px;
}
.mb-18 {
  margin-bottom: 18px;
}
.mb-19 {
  margin-bottom: 19px;
}
.mb-20 {
  margin-bottom: 20px;
}
// #endregion

// #region margin-right 0~20
.mr-0 {
  margin-right: 0px;
}
.mr-1 {
  margin-right: 1px;
}
.mr-2 {
  margin-right: 2px;
}
.mr-3 {
  margin-right: 3px;
}
.mr-4 {
  margin-right: 4px;
}
.mr-5 {
  margin-right: 5px;
}
.mr-6 {
  margin-right: 6px;
}
.mr-7 {
  margin-right: 7px;
}
.mr-8 {
  margin-right: 8px;
}
.mr-9 {
  margin-right: 9px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-11 {
  margin-right: 11px;
}
.mr-12 {
  margin-right: 12px;
}
.mr-13 {
  margin-right: 13px;
}
.mr-14 {
  margin-right: 14px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-16 {
  margin-right: 16px;
}
.mr-17 {
  margin-right: 17px;
}
.mr-18 {
  margin-right: 18px;
}
.mr-19 {
  margin-right: 19px;
}
.mr-20 {
  margin-right: 20px;
}

// #endregion

// #region font-size 1~43
.fontsize-1 {
  font-size: 1px;
}
.fontsize-2 {
  font-size: 2px;
}
.fontsize-3 {
  font-size: 3px;
}
.fontsize-4 {
  font-size: 4px;
}
.fontsize-5 {
  font-size: 5px;
}
.fontsize-6 {
  font-size: 6px;
}
.fontsize-7 {
  font-size: 7px;
}
.fontsize-8 {
  font-size: 8px;
}
.fontsize-9 {
  font-size: 9px;
}
.fontsize-10 {
  font-size: 10px;
}
.fontsize-11 {
  font-size: 11px;
}
.fontsize-12 {
  font-size: 12px;
}
.fontsize-13 {
  font-size: 13px;
}
.fontsize-14 {
  font-size: 14px;
}
.fontsize-15 {
  font-size: 15px;
}
.fontsize-16 {
  font-size: 16px;
}
.fontsize-17 {
  font-size: 17px;
}
.fontsize-18 {
  font-size: 18px;
}
.fontsize-19 {
  font-size: 19px;
}
.fontsize-20 {
  font-size: 20px;
}
.fontsize-21 {
  font-size: 21px;
}
.fontsize-22 {
  font-size: 22px;
}
.fontsize-23 {
  font-size: 23px;
}
.fontsize-24 {
  font-size: 24px;
}
.fontsize-25 {
  font-size: 25px;
}
.fontsize-26 {
  font-size: 26px;
}
.fontsize-27 {
  font-size: 27px;
}
.fontsize-28 {
  font-size: 28px;
}
.fontsize-29 {
  font-size: 29px;
}
.fontsize-30 {
  font-size: 30px;
}
.fontsize-31 {
  font-size: 31px;
}
.fontsize-32 {
  font-size: 32px;
}
.fontsize-33 {
  font-size: 33px;
}
.fontsize-34 {
  font-size: 34px;
}
.fontsize-35 {
  font-size: 35px;
}
.fontsize-36 {
  font-size: 36px;
}
.fontsize-37 {
  font-size: 37px;
}
.fontsize-38 {
  font-size: 38px;
}
.fontsize-39 {
  font-size: 39px;
}
.fontsize-40 {
  font-size: 40px;
}
.fontsize-41 {
  font-size: 41px;
}
.fontsize-42 {
  font-size: 42px;
}
.fontsize-43 {
  font-size: 43px;
}

// #endregion

.red {
  color: red;
}

.blue {
  color: blue;
}

// .el-button {
//   line-height: 0;
//   span{
//     display: block;
//   }
// }
