.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.centerH {
  display: flex;
  justify-content: center;
}
.centerV {
  display: flex;
  align-items: center;
}
.bg-red {
  background-color: red;
}

.ml-2 {
  margin-left: 2px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-2 {
  margin-right: 2px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}
.fontsize-1 {
  font-size: 1px;
}
.fontsize-2 {
  font-size: 2px;
}
.fontsize-3 {
  font-size: 3px;
}
.fontsize-4 {
  font-size: 4px;
}
.fontsize-5 {
  font-size: 5px;
}
.fontsize-6 {
  font-size: 6px;
}
.fontsize-7 {
  font-size: 7px;
}
.fontsize-8 {
  font-size: 8px;
}
.fontsize-9 {
  font-size: 9px;
}
.fontsize-10 {
  font-size: 10px;
}
.fontsize-11 {
  font-size: 11px;
}
.fontsize-12 {
  font-size: 12px;
}
.fontsize-13 {
  font-size: 13px;
}
.fontsize-14 {
  font-size: 14px;
}
.fontsize-15 {
  font-size: 15px;
}
.fontsize-16 {
  font-size: 16px;
}
.fontsize-17 {
  font-size: 17px;
}
.fontsize-18 {
  font-size: 18px;
}
.fontsize-19 {
  font-size: 19px;
}
.fontsize-20 {
  font-size: 20px;
}
.fontsize-21 {
  font-size: 21px;
}
.fontsize-22 {
  font-size: 22px;
}
.fontsize-23 {
  font-size: 23px;
}
.fontsize-24 {
  font-size: 24px;
}
.fontsize-25 {
  font-size: 25px;
}
.fontsize-26 {
  font-size: 26px;
}
.fontsize-27 {
  font-size: 27px;
}
.fontsize-28 {
  font-size: 28px;
}
.fontsize-29 {
  font-size: 29px;
}
.fontsize-30 {
  font-size: 30px;
}
.fontsize-31 {
  font-size: 31px;
}
.fontsize-32 {
  font-size: 32px;
}
.fontsize-33 {
  font-size: 33px;
}
.fontsize-34 {
  font-size: 34px;
}
.fontsize-35 {
  font-size: 35px;
}
.fontsize-36 {
  font-size: 36px;
}
.fontsize-37 {
  font-size: 37px;
}
.fontsize-38 {
  font-size: 38px;
}
.fontsize-39 {
  font-size: 39px;
}
.fontsize-40 {
  font-size: 40px;
}
.fontsize-41 {
  font-size: 41px;
}
.fontsize-42 {
  font-size: 42px;
}
.fontsize-43 {
  font-size: 43px;
}
