// 思嘉配色
$primaryColor: #8ecddd;
$successColor: #ffcc70;
$warningColor: #ffeccc;
$dangerColor: #a33131;
$errorColor: #d41414;
$infoColor: #bbbbbb;

$body-bg-color: #f5f5f5;
$nav-bg-color: #22668d;
$baseColor: #ead8c0;

// 日系配色
// $primaryColor: #6f8745;
// $successColor: #ca7a2c;
// $warningColor: #ffeccc;
// $dangerColor: #ae3243;
// $errorColor: #2b2118;
// $infoColor: #828282;

// elementplus預設
// $primaryColor: #409EFF;
// $successColor: #67C23A;
// $warningColor: #E6A23C;
// $dangerColor: #F56C6C;
// $errorColor: #A79277;
// $infoColor: #909399;

// 藍灰
// $primaryColor : #667D89;
// $successColor: #4F526F;
// $warningColor:#FFF2E1;
// $dangerColor:#D1BB9E;
// $errorColor:#A79277;
// $infoColor:#828282;

// 小兔鮮預設
// $primaryColor : #27ba9b;
// $successColor: #1dc779;
// $warningColor:#ffb302;
// $dangerColor:#e26237;
// $errorColor:#cf4444;
// $infoColor:#909399;

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': $primaryColor
    ),
    'success': (
      'base': $successColor
    ),
    'warning': (
      'base': $warningColor
    ),
    'danger': (
      'base': $dangerColor
    ),
    'error': (
      'base': $errorColor
    ),
    'info': (
      'base': $infoColor
    )
  )
);
