$primaryColor : #6f8745;
$successColor: #CA7A2C;
$warningColor:#ffeccc;
$dangerColor:#ae3232;
$errorColor:#2B2118;
$infoColor:#828282;
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': $primaryColor
    ),
    'success': (
      'base': $successColor
    ),
    'warning': (
      'base': $warningColor
    ),
    'danger': (
      'base': $dangerColor
    ),
    'error': (
      'base': $errorColor
    ),
    'info':(
      'base': $infoColor
    )
  )
);
// elementplus預設
// @forward 'element-plus/theme-chalk/src/common/var.scss' with (
//   $colors: (
//     'primary': (
//       'base': #409EFF
//     ),
//     'success': (
//       'base': #67C23A
//     ),
//     'warning': (
//       'base': #E6A23C
//     ),
//     'danger': (
//       'base': #F56C6C
//     ),
//     'error': (
//       'base': #A79277
//     ),
//     'info':(
//       'base': #909399
//     )
//   )
// );
// 藍灰
// @forward 'element-plus/theme-chalk/src/common/var.scss' with (
//   $colors: (
//     'primary': (
//       'base': #667D89
//     ),
//     'success': (
//       'base': #4F526F
//     ),
//     'warning': (
//       'base': #FFF2E1
//     ),
//     'danger': (
//       'base': #D1BB9E
//     ),
//     'error': (
//       'base': #A79277
//     )
//   )
// );
// 071A3C

// 小兔鮮預設
// @forward 'element-plus/theme-chalk/src/common/var.scss' with (
//   $colors: (
//     'primary': (
//       'base': #27ba9b
//     ),
//     'success': (
//       'base': #1dc779
//     ),
//     'warning': (
//       'base': #ffb302
//     ),
//     'danger': (
//       'base': #e26237
//     ),
//     'error': (
//       'base': #cf4444
//     )
//   )
// );